@import 'Variables';

#countries {
  .no-data-notice {
    text-align: center;
    font-size: 25px;
    color: #777;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    margin: 30px 0;
  }
}
.country-item {
  margin: 35px 0 60px 0;
  .country-name {
    margin-bottom: 15px;
    border-bottom: 1px solid black;
  }
  h1 {
    font-size: 20px;
    color: #777;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    border: 1px solid black;
    width: fit-content;
    border-bottom: none;
    border-top: 5px solid blue;
    padding: 12px 25px;
    margin: 0;
  }
  .row,
  .col-lg-4 {
    margin: 0;
    padding: 0;
  }
  .stat-box {
    padding: 15px 0 15px 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;

    &.black {
      background: $black;
      color: white;
    }
    &.red {
      background: $red;
      color: white;
    }
    &.blue {
      background: $blue;
      color: white;
    }
    p {
      margin: 0;
    }
  }
}
